<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet" href="entityStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <header>
        <div class="header-container">
            <a th:href="@{/index}">
                <div class="logo-container">
                    <i class="bi bi-shop" style="font-size: 100px;"></i>
                    <div class="name-container">
                        <h1>SISTEMA DE GESTIÓN</h1>
                        <h1>DE VENTAS</h1>
                    </div>
                </div>
            </a>

            <div class="navegation-container">
                <a th:href="@{/detalles}" class="nav-btn">Detalles Venta</a>
                <a th:href="@{/productos}" class="nav-btn">Productos</a>
                <a th:href="@{/clientes}" class="nav-btn">Clientes</a>
                <a th:href="@{/usuarios}" class="nav-btn">Usuarios</a>
            </div>
            <div class="header-icons">
                <p th:text="${username}">Nombre usuario</p>
                <button>
                    <i th:if="${rol == 'user'}" class="bi bi-person-circle" style="font-size: 50px"></i>
                    <img th:if="${rol == 'admin'}" src="/img/yo.png" alt="Admin" style="width: 50px; border-radius: 50%;">
                </button>
                <form th:action="@{/logout}" method="post">
                    <button id="logout-btn"  type="submit">
                        Cerrar Sesion <i class="bi bi-box-arrow-right" style="font-size: 1.2em;"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>

    <main class="main-content">
        <h1 class="entity-title">VENTAS:</h1>
        <hr>
        <p class="entity-description">
            Gestión de ventas del sistema de ventas. Aquí puedes crear, editar, eliminar y buscar ventas por su código. Asegúrate de ingresar datos válidos para mantener la integridad de la información.
        </p>

        <div class="crud-actions">
            <button class="btn-crud" id="btn-crear" popovertarget="datosCrear">Crear <i class="bi bi-plus-circle-fill"></i></button>
            <a th:href="@{/ventas/listar}"><button class="btn-crud" id="btn-listar">Actualizar Tabla <i class="bi bi-arrow-repeat"></i></button></a>
            <form class="crud-search" th:action="@{/ventas/buscar}" method="post">
                <input type="number" id="searched_id" name="searched_id" placeholder="Buscar por código de venta" required>
                <button type="submit" class="btn-crud" id="btn-buscar">
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <div class="messages-container">
                <h3 th:text="${error}" class="error-message" th:if="${error != null}"></h3>
                <h3 th:text="${exito}" class="exito-message" th:if="${exito != null}"></h3>
            </div>
        </div>

        <div id="datosCrear" class="popUp-container" popover>
            <form th:action="@{/ventas/crear}" method="post" class="crud-form">
                <div class="input-group">
                    <div>
                        <label for="fecha_venta">Fecha Venta:</label>
                        <input type="date" id="create_fecha_venta" name="create_fecha_venta" required>
                    </div>

                    <div>
                        <label for="total">Total:</label>
                        <input type="number" id="create_total" name="create_total" step="any" required>
                    </div>

                    <div>
                        <label for="estado">Estado:</label>
                        <select name="create_estado" id="create_estado" required>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>

                    <div>
                        <label for="clientes_dpi_cliente">Código Cliente:</label>
                        <input type="number" id="create_clientes_dpi_cliente" name="create_clientes_dpi_cliente" required>
                    </div>

                    <div>
                        <label for="usuarios_codigo_usuario">Código Usuario:</label>
                        <input type="number" id="create_usuarios_codigo_usuario" name="create_usuarios_codigo_usuario" required>
                    </div>
                </div>
                <button id="btn-crear-popup" type="submit" class="btn-crud">Crear <i class="bi bi-plus-circle-fill"></i></button>
            </form>
        </div>

        <div id="datosEditar" class="popUp-container" popover>
            <form th:action="@{/ventas/editar}" method="post" class="crud-form">
                <div class="input-group">
                    <div>
                        <label for="codigo_venta">Código Venta:</label>
                        <input type="number" id="edit_codigo_venta" name="edit_codigo_venta" required readonly>
                    </div>

                    <div>
                        <label for="fecha_venta">Fecha Venta:</label>
                        <input type="date" id="edit_fecha_venta" name="edit_fecha_venta" required>
                    </div>

                    <div>
                        <label for="total">Total:</label>
                        <input type="number" id="edit_total" name="edit_total" step="any" required>
                    </div>

                    <div>
                        <label for="estado">Estado:</label>
                        <select name="edit_estado" id="edit_estado" required>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>

                    <div>
                        <label for="clientes_dpi_cliente">Código Cliente:</label>
                        <input type="number" id="edit_clientes_dpi_cliente" name="edit_clientes_dpi_cliente" required>
                    </div>

                    <div>
                        <label for="usuarios_codigo_usuario">Código Usuario:</label>
                        <input type="number" id="edit_usuarios_codigo_usuario" name="edit_usuarios_codigo_usuario" required>
                    </div>
                </div>
                <button id="btn-editar-popup" type="submit" class="btn-crud">Editar <i class="bi bi-pencil-fill"></i></button>
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>codigo_venta</th>
                        <th>fecha_venta</th>
                        <th>total</th>
                        <th>estado</th>
                        <th>clientes_dpi_cliente</th>
                        <th>usuarios_codigo_usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr th:each = "v : ${ventas}">
                        <td th:text="${v.codigo_venta}"></td>
                        <td th:text="${v.fecha_venta}"></td>
                        <td th:text="${v.total}"></td>
                        <td th:text="${v.estado}"></td>
                        <td th:text="${v.clientes_dpi_cliente}"></td>
                        <td th:text="${v.usuarios_codigo_usuario}"></td>
                        <td>
                            <div class="table-actions">
                                <button  type="button" class="btn-editar" popovertarget="datosEditar"
                                    th:data-codigo_venta="${v.codigo_venta}"
                                    th:data-fecha_venta="${v.fecha_venta}"
                                    th:data-total="${v.total}"
                                    th:data-estado="${v.estado}"
                                    th:data-clientes_dpi_cliente="${v.clientes_dpi_cliente}"
                                    th:data-usuarios_codigo_usuario="${v.usuarios_codigo_usuario}"
                                    onclick="cargarDatos(this)"><i class="bi bi-pencil-fill"></i>
                                </button>
                                <a th:href="@{/ventas/eliminar/{id}(id=${v.codigo_venta})}"><button type="button" class="btn-eliminar"><i class="bi bi-trash-fill"></i></button></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    
    <script>
        function cargarDatos(button) {
            document.getElementById("edit_codigo_venta").value = button.dataset.codigo_venta;
            document.getElementById("edit_fecha_venta").value = button.dataset.fecha_venta;
            document.getElementById("edit_total").value = button.dataset.total;
            document.getElementById("edit_estado").value = button.dataset.estado;
            document.getElementById("edit_clientes_dpi_cliente").value = button.dataset.clientes_dpi_cliente;
            document.getElementById("edit_usuarios_codigo_usuario").value = button.dataset.usuarios_codigo_usuario;
        }
    </script>

</body>
</html>